/*  your css code here. If applicable */
body {
    margin: 0;
    font-family: Georgia, serif;
    background-color: #f5f5f5;
}
.testimonial-section {
    padding: 40px 60px;
}
.heading {
    font-size: 36px;
    margin-bottom: 30px;
    color: #000;
}
.testimonial {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    margin-bottom: 25px;
    width: 90%;
}
.text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.author {
    text-align: right;
    font-style: italic;
    font-size: 17px;
    color: #444;
}
